body{
    font-family: 'Didact Gothic', 'Lucida Grande', Tahoma, Sans-Serif;
    background-color: $color-inco-lightest;
    font-size: 19px;
    line-height: 1.3em;
    min-height: 100%;

    display: flex;
    flex-flow: column;
    padding: 30px;
} 

html {
    /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;

    height: 100%;
}

/* ------------------------------------------------------------ */
/* Header */
/* ------------------------------------------------------------ */

header {
    background-color: $color-inco-medium;
    padding: 20px;

    h1 {
        font-size: 2em;
    }

    .hr-header {
      min-width: 100%;
    }

    .header-coltext {
      flex-basis: 50%;
    }

    .using-bck-wrap {
      margin-top: 10px;
      color: white;
    }
}

/* ------------------------------------------------------------ */
/* Body */
/* ------------------------------------------------------------ */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .center-container {
      display: flex;
      justify-content: center; 
    }
}
  
a {
    color: $color-dark-strong;
    font-weight: 700;
    text-shadow: 0 0 3px white;
}

chart-title {
    font-size: 1em;
}

.dc-chart {
    margin-top: 0px;
    text-align: right;
}

.country-bar {
    height: 300px;
}

.evolution-chart {
    width: 100%;
}

.evolution-top-row {
    margin-top: 50px;
}

.reset-all-div {
    text-align: center;

    .reset-all {
      cursor: pointer;
    }
}

a.reset {
  margin-left: 10px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

  * {
    flex-grow: 1;
  }
}

.chart-note {
  font-size: 0.8em;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  .input-wrap {
    display: flex;
    flex-grow: 1;
    min-width: 250px;
    margin-right: 5px;
  }

  .input-div {
    flex-grow: 1;
    display: flex;
  }

  .text-input {
    min-width: 100px;
    display: flex;
  }

  .main-controls {
    flex-grow: 1;
    margin-bottom: 10px;
  }

  .submit {
    flex-grow: 1;
    display: flex;
    margin-bottom: 10px;

    input {
      width: 100%;
      text-align: center;
    }
  }
}

.control {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.evo-controls {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: -40px;
}

.loc-controls {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.error-msg {
  text-align: center;
  margin: 20px;
  font-size: 1.3em;
  color: red;
}

.mode-select {
  background-color: $color-inco-strong;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-shadow: none;
  color: black;
  cursor: pointer;

  &:hover {
    background-color: $color-inco-medlight;
    color: black;
    text-decoration: none;
  }

  &.mode-active {
    border: solid 1px white;
  }
}

.country-label {
  margin-left: 5px;
  font-size: 0.9em;
  width: 90px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
}

.stringency-charts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .bar-chart {
    width: 50%;
    flex-grow: 0.5;
    min-width: 300px;
  }
}

/* ------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------ */

footer {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $color-dark-strong;
    flex: 0 1 $footer-height;
    
    font-size: 0.7em;
    text-align: center;
    background-color: $color-inco-medium;
    
    .foot-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      
      .foot-item {
        flex-grow: 0.3;
      }
    }

    .citations {
      font-size: 0.9em;
      line-height: 1.5;
      font-style: italic;
    }
}

.country-control-button {
  display: inline-block;
  cursor: pointer;
  background-color: $color-inco-strong;
  display: inline-block;
  margin: 5px;
  padding: 5px;

  &:hover {
    background-color: $color-inco-medlight;
    color: black;
    text-decoration: none;
  }
}

/* ------------------------------------------------------------ */
/* Autocomplete */
/* ------------------------------------------------------------ */


* { box-sizing: border-box; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
