$color-bright-lightest: #f0e98c;
$color-bright-light: #faed26;
$color-bright-medlight: rgb(182, 105, 74);
$color-bright-medium: rgb(221, 85, 31);
$color-bright-strong: red;

$color-alt-light: #f7e478;

$color-dark-light: #5a5560;
$color-dark-medium: #46344e;
$color-dark-strong: #331f3b;

$color-inco-lightest: #b6a9aa;
$color-inco-light: #9d8d8f;
$color-inco-medlight: #b18f86;
$color-inco-medium: #9b786f;
$color-inco-medstrong: #966a5f;
$color-inco-strong: #86574b;
$color-inco-strongest: #744236;


$footer-height: 50px;
$main-padding: 1.5%;

$test: #a3a523b9;